@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212; /* Dark background */
  color: #ccc; /* Light text color for readability */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topbar {
  width: 100%;
  background-color: #1e1e1e; /* Dark topbar background */
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px 20px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 20px 0 0 20px;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #4b4b4b;
}

.recent-searches-dropdown {
  display: none; /* Hide by default, will be shown when focused */
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 100%;
  max-width: 600px;
  background-color: #2a2a2a;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.badge {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 2px;
  cursor: pointer;
  color: #fff;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
  z-index: 2;
}

.footer-positive {
  background-color: #005f00; /* Darker green for positive sentiment */
  color: white;
}

.footer-negative {
  background-color: #7f0000; /* Darker red for negative sentiment */
  color: white;
}

@media (max-width: 768px) {
  .search-bar, .search-container {
    width: 90%;
  }

  .content {
    padding-top: 80px;
    width: 100%;
    padding: 0 10px;
  }
}

/* Styles for article cards */
.article-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: #1e1e1e;
  text-decoration: none;
  color: #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  z-index: 1;
}

.article-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}

.article-sentiment {
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
  z-index: 2;
}

@media (max-width: 768px) {
  .article-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
